* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero {
    color: pink;
    background-color: #1F2937;
}
